<!doctype html>
<html>
	<head>
		<title>N.E.W</title>
        <script src="https://use.fontawesome.com/a4b0d1ea45.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Assistant|Libre+Baskerville" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

        <div id="container">
            
            <nav>
                <h1><a href="/">N.E.W</a></h1>
                <i id="menu" class="fa fa-bars" aria-hidden="true"></i>
            </nav>
            <div id="openMenu">
                <i id="closeMenu"class="fa fa-times-circle" aria-hidden="true"></i>
                <ul>
                    <li><a href="/cat/0">Weer</a></li>
                    <li><a href="/cat/1">Natuur</a></li>
                    <li><a href="/cat/2">Sociaal</a></li>
                    <li><a href="/cat/3">Politiek</a></li>
                    <li><a href="/cat/4">Psychologisch</a></li>
                    <li><a href="/cat/5">Verkeer</a></li>
                </ul>
            </div>
